/* IphoneX */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px)  {
    .SalonEtiquetteDiv {
        margin-top: 8vh;
        margin-left: 1vw;
        /* padding-right: 5vw; */
        height:90vh;
        width:  97vw;
        border: 1px white solid;
    }
}