html:not([data-scroll='0']) .Navbar {
    background-color: #b78d2a;
    animation: fadeIn .5s ease-in;
    height: 6vh;
    /* overflow: hidden; */
}

html:not([data-scroll='0']) .NavbarTitle {
    display: inline;
    position: relative;
    bottom: .5vh
}

html:not([data-scroll='0']) .NavbarToggle {
    display: inline;
    position: relative;
    bottom: .5vh;
}

.Navbar {
    background-color: #b78d2a00;
}

.NavbarTitle {
    display: none;
}

/* .NavbarToggle {
    display: none;
} */

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
