@media only screen and (min-device-width: 375px) and (max-device-width: 414px) and (min-device-height: 812px) and (max-device-height: 896px) {
    .SalonDiv {
        height: auto;
    }
    .SalonSlideOneDiv {
        /* background-color: black; */
        height: 100vh;
        background-image: linear-gradient(#b78d2a7a, rgba(255, 255, 255, 0.5)), url(../Assets/salon-landing-page-photo.JPG);
        background-position-y: center;
        background-size: cover;
    }
    .SalonSlideOneTitle {
        /* position: relative; */
        padding-top: 40vh;
        text-align: center;
        font-family: 'Cookie', cursive;
        color: #0B090B;
        font-size: 96px;
    }
    .DescriptionSlide {
        height: 65vh;
        background-color: #F5F5F5
    }
    .DescriptionText {
        color: #0B090B;
        text-align: center;
        padding-top: 7.5vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .DescriptionSubText {
        color: #0B090B;
        /* text-align: center; */
        padding-top: 35vh;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 18px;
    }
    .ulist {
        display: table;
        margin: 0 auto;
    }
    /* ul {
        list-style-image: url(../Assets/phone_icon.png);
        height: 5vh !important;
        width: 5vw !important;
      } */
    /* ul li::before {
        content: "\2022";
        color: red;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
      } */
}