/* IphoneX */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px)  {
    .UpperDiv {
        margin-top: 6.9vh;
        background-color: #F5F5F5;
        height: 25.5vh;
    }
    .BottomDiv {
        background-color: #0B090B;
        height: 67.6vh;
    }
    .LaBellaLogo {
        position: relative;
        right: 27.5vw;
        bottom: 25vh;
    }
}

/* IphoneXR */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
    .SlideOneDiv {
        /* background-color: black; */
        height: 100vh;
        background-image: linear-gradient(#b78d2a7a, rgba(255, 255, 255, 0.5)), url(../Assets/bayalage-windowwall-salon-services.jpg);
        background-position-y: center;
        background-size: cover;
    }
    /* .UpperDiv {
        margin-top: 6.3vh;
        background-color: #F5F5F5;
        height: 22.5vh;
    }
    .BottomDiv {
        background-color: #0B090B;
        height: 71.2vh;
    } */
    .LaBellaLogo {
        position: relative;
        right: 20.5vw;
        bottom: -10vh;
    }
}