/* IphoneX */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px)  {
    .UpperDiv {
        background-color: #F5F5F5;
        height: 50vh;
    }
    .BottomDiv {
        background-color: #0B090B;
        height: 50vh;
    }
}