@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
    .SpaSlideOneDiv {
        /* background-color: black; */
        height: 75vh;
        background-image: linear-gradient(#b78d2a7a, rgba(255, 255, 255, 0.5)), url(../Assets/stock-photo-spa-treatment-process.jpg);
        background-position-y: center;
        background-size: cover;
    }
    .SpaSlideOneTitle {
        /* position: relative; */
        padding-top: 27.5vh;
        text-align: center;
        font-family: 'Cookie', cursive;
        color: #0B090B;
        font-size: 96px;
    }
    .SpaSlideTwoDiv {
        height: 25vh;
        background-color: #0B090B;
    }
    .SpaSildeTwoTitle {
        font-family: 'Cookie', cursive;
        color: #F5F5F5;
        text-align: center;
        padding-top: 4.5vh;
        font-size: 72px;
    }
    .SpaSlideTwoText {
        font-family: 'Raleway', sans-serif;
        color: #F5F5F5;
        text-align: center;
        /* padding-top: 2.5vh; */
        font-size: 24px;
    }
    .SpaSlideThreeDiv {
        height: 61.2vh;
        background-image: url(../Assets/spa_room_la_bella.jpg);
        background-position-y: center;
        background-size: contain;
    }
    .SpaSlideFourDiv {
        height: 20vh;
        background-color: #0B090B;
    }
    .SpaSildeFourTitle {
        font-family: 'Cookie', cursive;
        color: #F5F5F5;
        text-align: center;
        padding-top: 4.5vh;
        font-size: 72px;
    }
    .SpaSlideFiveDiv {
        background-color: #0B090B;
        height: 100vh;
        width:  100vw;
        padding-top: 1vh;
    }
    .SpaServiceDiv {
        /* margin-top: 10vh; */
        margin-left: 1.5vw;

        /* Testing with BackgroundColor Change */
        background-color: #221f22;
        
        height: 98vh;
        width:  97vw;
        border: 1px #B78C2A solid;
    }
    .WaxingCol {
        line-height: 10px !important;
    }
    .SpaServiceTitle {
        font-family: 'Cookie', cursive;
        color: rgb(127, 79, 21);
        text-align: center;
        padding-top: 1vh;
        font-size: 60px;
        text-decoration: underline;
    }
    .WaxingTextLeft {
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        text-align: left;
        font-size: 20px;
        padding-left: 3vw;
        position: relative;
        bottom: 1vh;
        margin-bottom: 0;
    }
    .WaxingTextRight {
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        text-align:right;
        font-size: 20px;
        padding-right: 3vw;
        position: relative;
        bottom: 1vh;
    }

    .WaxingTextMiddle {
        position: relative;
        bottom: 2vh;
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        text-align:right;
        font-size: 20px;  
    }

    .SpaServicesTextLeft {
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        text-align: left;
        font-size: 20px;
        padding-left: 3vw;
        position: relative;
        bottom: 1vh;
        margin-bottom: 0;
    }

    .SpaServicesTextRight {
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        text-align:right;
        font-size: 20px;
        padding-right: 3vw;
        position: relative;
        bottom: 1vh;
    }

    .SpaServicesTextMiddle {
        position: relative;
        bottom: 1vh;
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        text-align:right;
        font-size: 20px; 
    }

    .SpaServiceSubTitle {
        color: rgb(127, 79, 21);
        font-family: 'Raleway', sans-serif;
        font-size: 24px; 
        text-align: center;
        position: relative;
        bottom: 1.5vh
    }

    .SpaServicesCol {
        line-height: 10px !important;
    }
}