.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

/* IphoneX */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px)  {
  .App {
    /* background-color: white; */
  }
  .CarouselImage {
  
  }
  .LandingCarouselDiv {
    padding-top: 17.5vh;
  }
}
